body{
  background: #0078B2;
  font-family: 'Raleway', sans-serif;
  padding: 0 0;
}

.container{
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

.page-title{
  font-size: 3em;
  font-weight: 700;
  color: #E3B23C;
  text-align: center;
}

.input-forms{
  text-align: center;
}

.user-search-query{
  width: 75%;
  font-size: 1.5em;
  border-radius: 6px;
  padding: 2px 2px;
  margin: 0 0;
}

.input-forms i{
  color: #E3B23C;
}

#rand-button{
  margin: 0 0 2% 0;
}


.input-forms i:hover{
  color: white;
}




.results-link{
  background-color: #EDEBD7;
  border-radius: 3%;
  margin: 15px 0;
  padding: 1% 2%;
  opacity: 0;

  -webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  -ms-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.results-page-name{
  color: black;
  font-weight: 700;
  font-size: 1.25em;
  text-decoration: none;
  margin: 0 0 1% 0;
}

.failed-message{
  color: white;
  text-align: center;
}

.searched{
  opacity: 1;
}



@media(min-width:768px){
  .user-search-query{
    width: 50%;
    font-size: 1.75em;
  }
}
