body{
  background: #2A3132;
  font-family: Arial;
}

.container{
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.page-title{
  font-size: 2.5em;
  color: #C4DFE6;
  text-align: center;
}

.input-forms{
  text-align: center;
}

.user-search-query{
  width: 100%;
  max-width: 800px;
}

.form-buttons{

}

.results-link{
  display: flex;
  background-color: #90AFC5;
  border-radius: 3%;
  margin: 15px 0;
  justify-content: space-between;
  opacity: 0;

  -webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  -ms-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.results-page-name{
  color: black;
  flex:1;
  text-align: center;
}

.results-blurb{
  flex:3;
  text-align: center;
  padding: 2% 1%;
}

.failed-message{
  color: white;
  text-align: center;
}



.searched{
  opacity: 1;
}
